spring:
  datasource:
    url: postgresql://neondb_owner:npg_8VQS3gTYendA@ep-super-wildflower-a131rdol-pooler.ap-southeast-1.aws.neon.tech/neondb
    username: neondb_owner
    password: npg_8VQS3gTYendA
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: satwanikamal2003@gmail.com
    password: lwrf imuo akak cjbw
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: 10000

